<div fxLayoutAlign="center center" fxFlexFill><img src="../assets/floppa.jpg"></div>

<div fxLayoutAlign="center center" fxFlexFill>
  <mat-card fxFlex="25">

    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" fxFlexFill fxLayoutAlign="stretch" fxLayout="column">
      <h3>Email</h3>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="sample@mail.com" formControlName="email">
        <div *ngIf="email!.invalid && (email!.dirty || email!.touched)" class="alert alert-danger">
          <div *ngIf="email!.errors?.['required']">
              Email is required.
          </div>
          <div *ngIf="email!.errors?.['email']">
              Email is invalid email format.
          </div>
      </div>
      </mat-form-field>


      <h3>Password</h3>
      <mat-form-field appearance="fill" required>
        <mat-label>Enter your password</mat-label>
        <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
        <div *ngIf="password!.invalid && (password!.dirty || password!.touched)" class="alert alert-danger">
          <div *ngIf="password!.errors?.['required']">
              Password is required.
          </div>
      </div>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <form action="/home" fxLayoutAlign="stretch" fxLayout="column">
        <button mat-raised-button color="accent" (click)="onSubmit()" [disabled]="!profileForm.valid">Login</button>
      </form>
      <form action="/register" fxLayoutAlign="stretch" fxLayout="column">
        <button mat-raised-button color="accent" (click)="goRegister()">Register</button>
      </form>
    </form>
  </mat-card>
</div>