<form>
    <button mat-raised-button color="accent" (click)="goCreateParty()">Create Party</button>
    <button mat-raised-button style="float: right;" color="accent" (click)="logout()">Logout</button>
</form>

<div *ngIf="emailInSession!=null">
    <p style="text-align:right;">Current user: {{emailInSession}}</p>
    <div *ngIf="partyResponseList!.length==0">
        <h1>
            No Party Here, please create the first party UwU
        </h1>
    </div>
    <ul>
        <li *ngFor="let party of partyResponseList">
            <mat-card class="party-card">
                <mat-card-title-group>
                    <mat-card-title>Party Name: {{ party.partyName }}</mat-card-title>
                    <mat-card-subtitle>Party ID: {{ party.partyId }}</mat-card-subtitle>
                    <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
                </mat-card-title-group>
                <mat-card-content>
                    {{ party.currentMember }}/{{ party.memberLimit }}
                </mat-card-content>
                <form action="/register" fxLayoutAlign="stretch" fxLayout="column">
                    <button mat-raised-button color="accent" (click)="joinParty(party.partyId)">Join</button>
                </form>
            </mat-card>
        </li>
    </ul>
</div>