<form [formGroup]="profileForm" (ngSubmit)="onSubmit()" fxFlexFill>
    <div class="form-group">
        <label for="email">Email</label>
        <input id="email" type="email" formControlName="email" fxLayout="column" placeholder="Email">
        <div *ngIf="email!.invalid && (email!.dirty || email!.touched)" class="alert alert-danger">
            <div *ngIf="email!.errors?.['required']">
                Email is required.
            </div>
            <div *ngIf="email!.errors?.['email']">
                Email is invalid email format.
            </div>
        </div>
    </div>


    <label for="password">Password</label> 
    <div class="form-group">
    <input id="password" formControlName="password" fxLayout="column"
        placeholder="Password" matInput [type]="hide ? 'password' : 'text'">
    <div *ngIf="password!.invalid && (password!.dirty || password!.touched)" class="alert alert-danger">
        <div *ngIf="password!.errors?.['required']">
            Password is required.
        </div>
        <div *ngIf="password!.errors?.['pattern']">
            The password must be at minimum eight characters, contain at least one letter, one number and contain one
            special character
        </div>
    </div>
        </div>

    <label for="passwordConfirm">Confirm Password</label>
    <div class="form-group">
        <input type="password" formControlName="passwordConfirm" name="passwordConfirm" fxLayout="column"
            placeholder="Confirm Password" class="form-control" />
        <div *ngIf="password!.value!=passwordConfirm!.value" class="alert alert-danger">
            Password & Confirm Password does not match.
        </div>
    </div>

    <button mat-raised-button color="accent" type="submit" [disabled]="!profileForm.valid"
        fxLayout="column">Register</button>
</form>